h3 {
    color: red;
}

p {
    font-size: xx-large;
    font-weight: 1000;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    /* the font priority will be from left ot right*/
    height: 45px;
    border: 1px solid black;
    border-radius: 45px;
    background-color: rgba(125, 125, 125, 0.2);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: -15px -10px 10px rgb(0, 100, 100);
    cursor: pointer;
}

p:hover {
    background-color: rgba(255, 0, 0, 0.789);
    transform: scale(1.2);
    box-shadow: -15px -10px 10px rgb(100, 0, 0);
    transition: 0.4s;
}